@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    margin: 0px;
    padding: 0px 64px;
}

@media screen and (max-width: 480px) {
    body {
      margin: 0px !important;   
      padding: 0px 8px !important;
    }

    .navigation span{
        display: block !important;
    }

    #navOptions{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
        padding: 12px !important;
        width: 100%;
        height: 110vh;
        z-index: 1;
        margin-top: 752px !important;
    }

    .aboutMe{
        margin-left:24px !important;
    }

    .aboutMe h1{
        font-size:32px !important;
        font-weight: 500;
        width: 300px !important;
    }

    .aboutMe h2{
        font-size: 18px !important;
        width: 240px !important;
    }

    .aboutMe p{
        font-size: 18px !important;
        width: 320px;
    }

    .companies{
        gap: 36px !important;
    }

    #projects{
        margin: 24px !important;
        display: flex !important;
        flex-direction: column;
    }

    #lifeCheck {
        background-size: contain !important;
        height: 480px !important;
        background-color: none;
    }

    .henryharvin{
        margin-top: 0px;
    }
}

.navigation span{
    display: none;
}

.navigation{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
}

.navigation img{
    width: 100px;
}

#navOptions{
    display: flex;
    gap: 36px;
    padding: 0px;
    cursor: pointer;
    color: black;
}

#navOptions a{
    color: #000;
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none;
    transition: linear ease-in 100ms;
}

#navOptions a:hover{
    text-decoration: underline;
    opacity: 1;
    font-weight: 800;
    transition: linear ease-in 10ms;
}

.aboutMe{
    font-family: 'Comfortaa', sans-serif;
    margin-left: 64px;
    margin-top: 64px;
    width: 50%;
}

.aboutMe p{
    font-size: 24px;
    font-weight: 600;
}

.aboutMe h1{
    font-size: 64px;
    font-weight: 600;
}

.aboutMe h2{
    font-size: 24px;
    font-weight: 400;
    opacity: 0.6;
}

#projects{
    margin: 64px 64px 64px 64px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    list-style: none;
}

#lifeCheck {
    background-image: url(Resources/lifeCheckDisplay.svg);
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 377px;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.3s;
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    color: white;
    transition: linear 100ms ease-in-out;
}

#nftPlatform {
    background-image: url(Resources/nftPlatformDisplay.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 377px;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.3s;
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    color: white;
}

#zapPay{
    background-image: url(Resources/zapPayDisplay.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 377px;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.3s;
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    color: white;
}

#scaryCream{
    background-image: url(Resources/scaryCreamBrandingDisplay.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 377px;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.3s;
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    color: white;
}

#loveFinder{
    background-image: url(Resources/loveFinderDisplay.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 377px;
    background-size: cover;   
    grid-column: 1 / span 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.3s;
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    color: white;
}

#lifeCheck:hover::after {
    content: "Life Check";
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 94%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

#loveFinder:hover::after {
    content: "Love Finder";
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 94%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

#scaryCream:hover::after {
    content: "Scary Cream(Branding & Packaging)";
    position: absolute;
    padding: 12px;
    top: 0;
    left: 0;
    width: 96%;
    height: 94%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

#zapPay:hover::after {
    content: "ZapPay";
    position: absolute;
    padding: 12px;
    top: 0;
    left: 0;
    width: 96%;
    height: 94%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

#nftPlatform:hover::after {
    content: "NFT Platform";
    position: absolute;
    padding: 12px;
    top: 0;
    left: 0;
    width: 96%;
    height: 94%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

footer{
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    align-items: center;
    gap: 16px;
}

.socialIcons{
    display: flex;
    gap: 16px;
}

footer p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.myImage{
    display: flex;
    justify-content: center;
}

#aboutPageHeading{
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.myImage img{
    width: 300px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p{
    width: 70%;
    font-family: 'Comfortaa', sans-serif;
    line-height: 28px;
    text-align: center;
}

.companies{
    margin: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 84px;
}

.companies p{
    text-align: center;
}

.mentorkart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.henryharvin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.henryharvin h3{
    margin-top: -8px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: 500;   
}

.henryharvin p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    margin-top: -8px; 
}

.companies h3{
    margin-top: -8px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.companies p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    margin-top: -8px;
}