@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    padding: 0px 64px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
}

@media (max-width: 480px) {
    body{
        padding: 0px 16px;
    }

    .navigation{
        font-size: small;
    }

    .avatar img{
        width: 50px;
    }
}

ul{
    display: flex;
    gap: 64px;
    padding: 0px;
    cursor: pointer;
    color: black;
}

ul a{
    color: #000;
    text-decoration: none;
}

.tagline{
    font-family: 'Comfortaa', sans-serif;
}

.Hero{
    display: flex;
    border-radius: 24px;
    background: #EEEEEE;
    justify-content: space-between;
    margin-top: 16px;
    height: 599px;
}

.tagline{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 36px;
}

.tagline h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.tagline h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 12px;
    margin-bottom: 0px;
}

.tagline p{
    color: rgba(0, 0, 0, 0.48);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.avatar img{
    border-radius: 0px 0px 24px 0px;
}

.about{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.about h3{
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about_content{
    width: 50%;
    border-radius: 24px;
    padding: 24px;
    background: #FFECD6;
    color: #000;
}

.about_content p{
    color: rgba(0, 0, 0, 0.84);
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.about_services{
    padding: 24px;
    border-radius: 24px;
    width: 40%;
    background-color: #E1FFD6;
}

.dump_here{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dump_here button{
    color: #000;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
}

.dump_here img{
    width: 50%;
}

.about_services img{
    display: flex;
    justify-content: center;
    margin: auto;
}

.projects{
    background: rgba(78, 79, 235, 0.08);
    padding: 24px;
    margin-top: 36px;
    border-radius: 24px;
}

.project_list h3{
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project_life_check{
    color: #000;
    display: flex;
    gap: 64px;
    border-radius: 12px;
    background: #FFDB68;
    padding: 24px;
    align-items: center;
    justify-content: center;
}

.project_about h4{
    /* color: #000; */
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project_about p{
    /* color: rgba(0, 0, 0, 0.84); */
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
    width: 564px;  
}

.project_about button{
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project_about button:hover{
    background-color: #f5f5f5;
}